@import '../../style/variables.scss';

.projects_container{
    display:flex;
    background-color: white;
    align-items: flex-start;
    justify-content: space-evenly;
    
}
.projects_title{
    margin-bottom: 250px;
    // background-color: transparent;
    position: sticky;
    top:10rem;
    margin-top: 10rem;
    font-family: $font-family-headers;
    border: 2px solid black;
    padding: 10px;
    background-color: $color-secondary;
    color:burlywood;

}
.cards_container{
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 50%;
    margin-top: 8rem;
    margin-bottom: 20px;;
    
}
.project_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px 50px 20px; //arriba derecha abajo izquierda
    max-height: 100%;
    max-width: 85%;
}
.card_imagen{
    display: flex;
    border: 2px solid black;
    height: auto;
    max-width: 90%;
    margin: 10px;    
}
.card_title{
    padding:10px;
    font-family:Verdana, sans-serif;

}
.card_description{
    display:flex;
    margin:0;
    font-family:Verdana, sans-serif;
    max-width: 90%;
    text-align: justify;
    text-justify: inter-word;
    line-height: 25px;

}
.footer_links{
    // margin-top: 15px;
    color:black;
    padding:8px;
}