@import '../../style/variables.scss';

.projects_container{
    display:flex;
    background-color: white;
    align-items: flex-start;
    justify-content: space-evenly;
    
}
.projects_title{
    margin-bottom: 250px;
    background-color: transparent;
    position: sticky;
    top:10rem;
    margin-top: 10rem;

}
.cards_container{
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 50%;
    margin-top: 8rem;
    margin-bottom: 20px;;
    
}
.project_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px 50px 20px; //arriba derecha abajo izquierda
    max-height: 100%;
    max-width: 85%;
}
.card_imagen{
    display: flex;
    border: 2px solid black;
    height: auto;
    max-width: 90%;
    margin: 10px;    
}
.card_title{
    padding:10px;
}
.card_description{
    display:flex;
    margin:0;
    background-color: blue;
}