@import '../../style/variables.scss';

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.cover-container {
    height: 100vh;
    width: 100%;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 715px) {
      background-color: black;
    }
  
    &__video {
      object-fit: cover;
      width: 100%;
      height: 100vh;
      position: absolute;
      z-index: -1;

      @media screen and (max-width: 715px) {
        display: none;
      }
    }
}
.main {
  color: $color-primary;
  font-size: 50px;
  text-align: center;
  font-family: $font-family-title;
  font-weight: $font-weight-min;
  margin-bottom: 0%;
}
.subtitle {
  color: $color-primary;
  flex-direction: column;
  align-items: center;
  font-family: $font-family;
  font-size: 20px;
  font-weight: $font-weight-min;
}
.arrow{
  position:absolute;
  bottom:80px;
  color: white;
  padding:10px;
  scroll-behavior: smooth;
}
.last_text{
  position:absolute;
  bottom:40px;
  color: white;
  padding:10px;
  font-family: $font-family;
  animation: bounce 2s linear infinite;
}