@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');//Fonts
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');

// $font-family: 'Rajdhani', sans-serif;
$font-family: 'Nanum Gothic Coding', monospace;
$font-family-title: 'Shadows Into Light', cursive;
$font-family-headers: 'PT Sans Caption', sans-serif;

//Weight

$font-weight-light: 400;
$font-weight-normal: 200;
$font-weight-medium: 600;
$font-weight-heavy: 700;
$font-weight-min: 100;

//Colors

$color-primary: #DDDDDD;
$color-secondary: #222831;
$color-tertiary: #30475E;

$color-red: #FF7171;
$color-dark: black;

//Breakpoints

$tablet: 768px;
$desktop: 1280px;

